<launch>
  <node name="tesse_ros_bridge" pkg="tesse_ros_bridge" type="tesse_ros_bridge.py" output="screen">
    <remap from="segmentation" to="segmentation"/>
    <remap from="rgb_left"     to="rgb_left"/>
    <remap from="rgb_right"    to="rgb_right"/>
    <remap from="depth"        to="depth"/>
    <param name="client_ip" value="127.0.0.1"/>
    <param name="self_ip" value="127.0.0.1"/>
    <param name="request_port" value="9000"/>
    <param name="receive_port" value="9001"/>
  </node>
</launch>
