<launch>
  <node name="tesse_ros_bridge" pkg="tesse_ros_bridge" type="tesse_ros_bridge.py" output="screen">
    <!-- Topics -->
    <remap from="left_cam"     to="left_cam"/>
    <remap from="right_cam"    to="right_cam"/>
    <remap from="segmentation" to="segmentation"/>
    <remap from="depth"        to="depth"/>
    <!-- Network Unity params -->
    <param name="client_ip"    value="127.0.0.1"/>
    <param name="self_ip"      value="127.0.0.1"/>
    <param name="request_port" value="9000"/>
    <param name="receive_port" value="9001"/>
  </node>

  <!-- Convert it into a point cloud -->
  <node pkg="nodelet" type="nodelet" name="cloudify"
        args="load depth_image_proc/point_cloud_xyzrgb record_player_manager --no-bond">
    <remap from="depth_registered/image_rect" to="depth"/>
    <remap from="depth_registered/points"     to="points"/>
    <remap from="rgb/image_rect_color"        to="segmentation"/>
    <remap from="rgb/camera_info"             to="left_cam/camera_info"/>
  </node>
</launch>
